<html>
    <head>
        <title>FAS - Heritage Institute of Technology</title>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,300,0,0" />
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/js/index.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div style="display: flex;align-items: center;">
                <img class="navbar-logo" src="/assets/logo.jpg">
                <h1 class="navbar-text">fas</h1>
            </div>
            <% if(loggedIn) { %>
            <span class="material-symbols-rounded" style="cursor: pointer;" onclick="logout()">logout</span>
            <% } %>
        </div>
        <header>
            <h1><%= title %></h1>
        </header>