<%- include('./partials/header', {title: 'Faculty Appraisal System', loggedIn: false}) %>
<section>
    <div style="width: 100%;max-width: 400px;margin: auto;">
        <h1>Login</h1>
        <input id="username" class="input" type="text" name="username" placeholder="Enter email">
        <input id="password" class="input" type="password" name="password" placeholder="Enter password">
        <button class="button" onclick="login()">Continue</button>
    </div>
</section>
<%- include('./partials/footer') %>